body {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#error {
    color: blue !important;
}
div{
    align-items: center;
}
h1, h3, .presentation {

   color: #2a9d8f;
}
select {
    border-color: #0D6EFD;
    border-radius: 1rem;


}

.rounded-3 {
        border-radius: 1.5rem !important;
}

.default-input {
    font-weight: bolder;
    color:black
}

div.border.border-primary{
    border-radius: 20px;
}
.verticalLine{
    border-left: 3px solid #0D6EFD ;
    height: 15px;

}

button > a {
    color : white;
}
.keyword-list{
    display: inline;
    font-weight: 400;
    list-style: none;


}
.user-keyword-list {
    display: inline;
    list-style: none ;
    font-weight: bold;
    font-style: italic;
    color:blueviolet;
}
.warning-line{
    border-top: 2px solid;
    border-color:#FFC107;
    color: #FFC107

}

/*---------------------------- */
