body {
    display: flex;

    align-items: center;
    flex-direction: column;
}

.low-opacity-bg-image {
    --bg-image:  url('/static/img/circleswirl.svg');
    --bg-image-opacity: 0.35;
    display: grid;
    /* position: relative; */
    place-content: center;

    position: relative;
    isolation: isolate;
  }

  .low-opacity-bg-image::after {
    content: "";
    position:absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--bg-image-opacity);
    background-image: var(--bg-image);
    background-size:100%;
    background-position: 100px 150px;
    background-repeat: no-repeat;
    offset: 200px;
  }

/* index page */
h1,
h3,
.presentation {

    color: #0a0754;
}

/* loading animation */
#loading {
    display: none;
}

.col-10.d-flex.justify-content-around>p {
    font-size: small;
    color: rgb(196, 8, 8)
}
/* fine loading animation */

/* tendina select numeri pagina */
select {
    border-style: none;
    border-radius: 13px;
    width: 40px;
    text-align: center;
}
select:hover {
    background-color: #0d6dfd33;
    border-radius: 9px;
}
/*fine tendina select*/


.default-input {
    font-weight: bolder;
    color: black
}
.default-input:hover {
    color: #FFC107;
}

/* button have text color white */
button>a {
    color: white;
}

.keyword-list {
    display: inline;
    font-weight: 400;
    list-style: none;
}

/* button X to remove keys */
a[href="/remove_custom"] {
    text-decoration: none;
    font-weight: bolder;
}

.user-keyword-list {
    display: inline;
    list-style: none;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}

/* decoration line for result */
.warning-line {
    border-top: 2px solid;
    border-color: #FFC107;
    color: #FFC107
}


/* error page */
#error-code {
    color: rgb(70, 70, 70)
}

#error-msg {
    color: rgb(186, 0, 0)
}

#back-error-button>a {
    text-decoration: none;
}

#back-error-button>a:hover {
    text-decoration: none;
    color: rgb(255, 204, 0);
}

/*---------------------------- */