body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #252526 ;
}
div{
    align-items: center;
}
h1 {
    color: #e76f51;
}
h2 {
    color: #f4a261
}
.presentation {
    color: #2a9d8f;
}