body {
    display: flex;
    align-items: center;
    flex-direction: column;

}
div{
    align-items: center;
}
h1, h3, .presentation {
    color: white !important;

   color: #2a9d8f;
}

.keywords-in-use {
    background-color: yellow;
}
.search-result {
    background-color: #e76f51;
}
.rounded-3 {
        border-radius: 1.5rem !important;
}

.default-input {
    font-weight: bolder;
    color:aliceblue
}

#search-col{
    background-color: lightblue;
}
#keyword-col{
    background-color: lightcyan;
}
div.border.border-primary{
    border-radius: 20px;
}
.verticalLine{
    border-left: 2px solid #0D6EFD ;
    height: 15px;

}
