body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4b4b4e !important;
}
div{
    align-items: center;
}
h1 {
    color: #e76f51;
}
h2 {
    color: #f4a261
}
.presentation {
    color: #2a9d8f;
}

.results {
    background-color: yellow;
}
.info {
    background-color: #e76f51;
}