{%extends "layout.html"%}

{% block body %}


<div class="row justify-content-center">
    <h1 id="error-code">{{code}}</h1>
</div>
<div class="row justify-content-center mt-3 ">
    <div class="col-10 col-lg-5 mt-3">
        <h4 id="error-msg">{{msg}}</h4>

        {% if code == 400 %}
        <p>The request was either for the <u>wrong conutry</u>, or the <u>city wasn't found</u></p>

        {% elif code == 403 %}
        <!-- only msg -->
        {% elif code == 406 %}

        <p>You have to fill <u>both</u> input fields</p>
        {% endif %}
    </div>
    <!-- img hidden until lg then show block -->
    <div class="col-md-6 d-none d-lg-block"><img src="/static/img/error_img.png" alt="error image" width="400px"
            height="400px"></div>
</div>



<div class="row justify-content-center my-4">

    <button type="button" id="back-error-button" class="btn btn-danger btn-lg"><a href="/new_search">Go
            Back</a></button>
</div>

{% endblock %}