{%extends "layout.html" %}

{%block title%} index {%endblock%}

{%block body%}
<div class="container-sm my-5 ">
    <div class="header">
        <h1><a href="/">Hello</a></h1>
        <h2>Welcome to Skill Rank!</h2>
    </div>
    <div class="presentation">
        <p>This web-app will return, based on your job search and desired location, a list of the most required skills
            that
            employers are looking for!</p>
        <p>Just enter the job you're looking for and your desired location, and you'll be served and updated list of
            skills
            that are being required the most!</p>

    </div>
</div>

<div class="main-section container text-center">
    <div class="row align-items-center">

        <div class="container-sm my-2-px-4">
            <!-- form di input con le due inpot box e pulsante -->
            <!-- <form action="/search" method="post">
                # inputText di PLACE
                <div class="row g-2 justify-content-center align-items-start">
                    <div class="col-4">
                        <input class="form-control rounded-0 rounded-start" type="text" placeholder="City" aria-label="place" name="place" required>
                    </div>
                    <div class="col-4">
                         # inputText di JOB
                        <input class="form-control rounded-0 rounded-end" type="text" placeholder="Job to search" name="job_search" required>
                    </div>
                    <div class="col-2 mx-1"><input class="btn btn-primary mb-3" type="submit" value="Submit"></div>
                </div> -->
            <!-- temporary radius prechecked values -->
            <form action="/search" method="post">
                <div class="row g-2 justify-content-center align-items-start">
                    <div class="col-4">
                        <input type="radio" name="place" value="milano" checked="checked"> <span
                            class="default-input">Milano</span>
                    </div>
                    <div class="col-4">
                        <input type="radio" name="job_search" value="junior developer" checked="checked"> <span
                            class="default-input">junior developer</span>
                    </div>
                    <div class="col-2 mx-1"><input class="btn btn-primary mb-3" type="submit" value="Submit"></div>
                </div>

            </form>


        </div>

        <!-- sezione a scomparsa -->
        <div>
            <a class="btn btn-primary my-3" data-bs-toggle="collapse" href="#collapseSection" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Keywords in use
            </a>
        </div>
        <div class="collapse" id="collapseSection">

            <div class="container-sm my-3-px-2">
                <div class="keywords-in-use rounded-3">
                    <!-- form per inserire proprio input -->
                    <form action="/add_keywords" method="post">

                        <div class="row g-2 justify-content-center align-items-start">
                            <div class="col-8">
                                <input class="form-control start" type="text"
                                    placeholder="Insert,your,keywords,separated,by,commas" aria-label="custom_keys"
                                    name="custom_keys" required>
                            </div>
                            <div class="col-2 mx-1"><input class="btn btn-primary mb-3" type="submit"
                                    value="Add Keywords">
                            </div>
                        </div>

                        <!-- list of keywords in use -->
                        <ul>
                            {%if user_dict|length > 0%}
                                {% for w, n in user_dict.items()%}
                                <li style="list-style: none ; color:blueviolet; display: inline;"><b>{{w}} , &emsp; </b></li>
                                {%endfor%}
                            {%endif%}
                        </ul>
                        <ul>
                            {% for k, v in dict.items()%}

                            <li style="list-style: none ; display: inline;"><b>{{k}} , &emsp; </b></li>
                            {%endfor%}
                        </ul>
                </div>
            </div>
        </div>
    </div>


</div>

{%endblock%}