{%extends "layout.html" %}

{%block title%} index {%endblock%}

{%block body%}
<section id="presentation" class="container-fluid ">
    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8">
                <div class="header">
                    <h1>Hello!</h1>
                    <h3>Welcome to DevSkills!</h3>
                </div>
                <div class="presentation">
                    <p>This is a web-app that will return, based on your job search and desired location, a list of the
                        most required skills that recruiters are looking for!</p>
                    <p>Just enter the job you're looking for and the location, and you'll be served and updated list of
                        skills
                        that are being required the most!</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- sezione 2 -->


<div class="main-section container my-5">
    <form action="/search" method="post" id="search-form">
        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4 d-flex justify-content-center ">
                <!-- checkbox per usa/ita -->
                <input type="radio" name="country" value="www" checked="checked">
                <span class="default-input">USA<img src="/static/img/us.svg" width="30px" height="20px"> &ensp; </span>

                <input type="radio" name="country" value="it">
                <span class="default-input">ITA<img src="/static/img/it.svg" width="30px" height="20px"></span>
            </div>

            <div class="col-8 col-md-4 d-flex justify-content-center">
                <span> Pages to search: </span>
                <!-- pages selection -->
                <select name="page">
                    <option value="1">1</option>
                    {%for i in range(2, 6)%}
                    <option value="{{i}}">{{i}}</option>{%endfor%}
                </select>
            </div>
        </div>




        <!-- # inputText di PLACE -->
        <div class="row justify-content-center">
            <div class="col-8 col-md-5 col-lg-4 mt-2">
                <input class="form-control rounded-0 rounded-top" type="text" placeholder="City" aria-label="place"
                    name="place" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-5 col-lg-4 mb-2">

                <!-- # inputText di JOB -->
                <input class="form-control rounded-0 rounded-bottom" type="text" placeholder="Job to search"
                    name="job_search" required>
            </div>
        </div>

        <!-- submit button -->
        <div class="row justify-content-center">
            <div class="col-2  d-flex justify-content-center mt-2">
                <input class="btn btn-primary " type="submit" value="Submit">
            </div>
        </div>
    </form>



    <!-- sezione a scomparsa -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-2 d-flex" id="keyword-col">

                <a class="btn btn-outline-info my-3" data-bs-toggle="collapse" href="#collapseSection" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Keywords in use
                </a>

            </div>
        </div>
        <div class="container my-3-px-2">
            <div class="row">
                <div class="collapse border-info border-start border-end" id="collapseSection">

                    <!-- form per inserire proprio input -->
                    <form action="/add_keywords" method="post">
                        <div class="row justify-content-center ">
                            <div class="col-10 col-md-7 align-self-start">
                                <input class="form-control border-info" type="text"
                                    placeholder="Insert a list of keywords" aria-label="custom_keys"
                                    name="custom_keys">
                            </div>
                            <div class="col-2 col-md-4 mx-1 align-self-start">
                                <input class="btn btn-info mb-3" type="submit" value="Add Keywords">
                            </div>

                        </div>
                    </form>


                    <!-- IF PRESENT list of user added keywords -->
                    {% if user_dict|length > 0 %}
                    <div class="row">
                        <div class="col-11">
                            <ul>
                                {% for w, n in user_dict.items() %}
                                <li class="user-keyword-list">{{w.capitalize()}} , &emsp;</li>
                                {%endfor%}
                                <!-- breakline -->
                                <hr>
                            </ul>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="/remove_custom"> X </a>
                            </button>
                        </div>

                    </div>
                    {%endif%}

                    <!-- list of keywords in use -->
                    <ul>
                        {% for k, v in dict.items()%}
                        <li class="keyword-list">{{k.capitalize()}} , &emsp;</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}